doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // CSS y Font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='./styles.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    title Desaf&iacute;o Clase 5

    body

        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') Formulario
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/productos') Lista de Productos

        .p-4
            p.h3 Vista de productos
                if lista.length < 1
                    table.table
                        thead
                            tr
                                th(scope='col') Nombre
                                th(scope='col') Precio
                                th(scope='col') Imagen
                        tbody
                            tr
                                td No se encontraron productos
                                td  
                                td
                else
                    table.table
                        thead
                            tr
                                th(scope='col') Nombre
                                th(scope='col') Precio
                                th(scope='col') Imagen
                        tbody
                            each list in lista
                                tr
                                    td  #{ list.title } 
                                    td  #{ list.price } 
                                    td
                                        img(style='width: 2rem;' src=list.thumbnail)        